{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
  Микро Лайн
{% endblock %}

{% block content %}
<div class="conteiner">
  <div id="main" class="product_list">
    <h1>Наши товары</h1>
    <div class="items row">
      {% for cat in kategory %}
        <div class="item col-md-4">
          <a href="{{ cat.get_absolute_url }}">
            <img src="{% if cat.image %}{{ cat.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}">
          </a><br>
          <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
        </div>
      {% endfor %}
    </div>
    <h2>Компания Микро Лайн</h2>
    <p>Торговая марка «Микро Лайн» существует с 2002 года и разрабатывает и производит охранные системы для автомобилей, дома, офиса и квартиры, системы управления отоплением и диспетчеризации, системы мониторинга транспорта. За время работы мы максимально упростили работу с нашим оборудованием как для профессионалов так и для обычных пользователей, сведя всё управление в удобном едином мобильном приложении.
    </p>    
    <p>Наши системы безопасности надежно защищены от взлома и перехвата сигналов. Оборудование для управления отоплением даст Вам полный контроль над инженерными системами дома. Ваше имущество будет под надежной защитой.
    </p>
    <h2>Почему мы</h2>
    <div class="row">
      <div class="col-md-4">
        <img src="{% static "img/icon_garazh.png"%}" class="img-responsive">
        <h3>Сеть диллеров в 50 городах России</h3>
        <p>Выбирайте любой из представленных сервисных центров по продаже и профессиональной установке оборудования в вашем городе. Мы поможем вам определиться с выбором и ответим на все интересующие вопросы.</p>
        <p class="bold"> Часы работы:  с 8-00 до 17-00 пон.-пятн.        Телефоны: (831) 220-76-60 , 8-800-700-72-91 </p>
      </div>
      <div class="col-md-4">
        <img src="{% static "img/icon_garant.png"%}" class="img-responsive">
        <h3>Гарантийные обязательства от 12 месяцев</h3>
        <p>Все товары ZONT имеют безусловную гарантию качества. Техническое обслуживание и ремонт должны выполняться  компанией -дилером, у которой приобретено оборудование, или непосредственно в нашей гарантийной мастерской.</p>
        <p class="bold">607630 Нижегородская обл. Богородский р-он, пос. Кудьма, ул Заводская стр. 2</p>
      </div>
      <div class="col-md-4">
        <img src="{% static "img/icon_service.png"%}" class="img-responsive">
        <h3>Техническая поддержка от производителя</h3>
        <p>Мы готовы ответить на любые вопросы по нашему оборудованию. Здесь есть ссылки на тематические форумы по продуктам ZONT, интересные рекомендации, не попавшие в инструкции, создана форма для обратной связи.</p>
        <p class="bold">Бесплатный телефон технической поддержки 8-800-700-72-91:  8-00 - 17-00 пон.-пятн.</p>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}

