{% extends "shop/base.html" %}

{% block title %}
  Спасибо за заказ
{% endblock %}

{% block content %}
    <h1>Спасибо за заказ</h1>
    <p>Номер вашего заказа: {{ order.id }}</p>
    <p>Адрес страницы заказа: microline.ru/orders/{{order.pageid}}</p>
    <h2>Оплата заказа с помощью платежной системы NET PAY</h2>
    <div class="row">
        <div class="col-md-6 full">
		    <img src="/static/img/netpay-icons.png" />
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-success"><a href="/netpay/process/">Произвести оплату</a></button>
	                          
{% endblock %}
